/*-----===  Footer style  ===-----*/
.footer {


      /*-----------*/
  .head-footer {
    background-color: $gray;
    padding: 30px 120px 0;

    h6 {
      margin-bottom: 25px;
    }

    p {
      font: 400 13px/21px $gothic;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

      /*-----------*/
    .about {
      margin-bottom: 45px;

      a {
        display: inline-block;
        margin-top: 15px;
        padding: 12px 17px;
        border-bottom: 2px solid $yellow;
        color: $white;
        background-color: $black;
        font: 400 15px $gothic;

        &:hover {
          color: $orange;
        }
      }
    }

    .photo-stream {

      img {
        height: auto;
        margin-bottom: 15px;
      }
    }

      /*-----------*/
    .latest-tw {

      li {
        display: flex;

        i {
          color: $white;
          font-size: 22px;
          margin-right: 20px;
        }

        .past-time {
          font: 400 8px/21px $gothic;
        }
      }
    }

      /*-----------*/
    .social {

      h6 {
        margin-right: 10px;
      }

      li {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 2px;
        background-color: $black;
        text-align: center;
        line-height: 29px;

        a {
          color: $white;
          width: 100%;
          height: 100%;
          display: block;

          &:hover {
            color: $orange;
            border-bottom: 2px solid $yellow;
          }
        }
      }
    }

    /*----------*/
    .contacts {
      margin-bottom: 50px;

      li i {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 20px;
        color: $white;
        background-color: $black;
        text-align: center;
        font-size: 17px;
        line-height: 28px;
      }
    }

    /*----------*/
    .follow-us{
      
      form {
        position: relative;
        
        input {
          width: 230px;
          height: 30px;
          padding-left: 3px;
          border: none;
          border-bottom: 2px solid $yellow;
          color: $white;
          background-color: transparent;
          outline: none;
        }
        
        button {
          position: absolute;
          top: 0;
          left: 230px;
          width: 30px;
          height: 30px;
          color: $white;
          background-color: $black;
          border: none;
          outline: none;

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
  
  /*---------*/
  .footer-menu {
    background-color: $black;
    padding: 25px 135px 10px;
    margin: 0 -15px;

    p {
      font: 400 14px/32px$gothic;
    }

    .footer-nav {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 5px 15px;
        height: 35px;

        a {
          padding: 5px 15px;
          color: $white;
          
          &:hover {
            background-color: $yellow;
            color: $orange;
          }
        }

        &:last-child {
          padding-right: 0;
          margin-right: -10px;
        }
      }
    }
  }
}




/*-------@media--------*/
@media (max-width: 991px) {


}

/*-------@media--------*/
@media (max-width: 768px) {

}