/*-----===  Header style  ===-----*/
.header {
  vertical-align: middle;
  position: relative;

  .logo {
    width: 115px;
    height: 115px;
    margin: 22px 120px;
  }

  /*--- Nav ---*/
  ul {
    margin-right: 80px;
  }

  li {
    margin: 0 30px;

    a {
      position: relative;
      padding: 27px 10px 30px;
      color: $black;

      &:hover{
        background-color: $yellow;
      }
    }
  }
}


/*===========================*/
.created-by {
  position: absolute;
  top: 0;
  left: 0;
  color: #999;
  font-size: 13px;

  span {
    font-size: 14px;
    font-weight: bold;
  }
}
/*===========================*/

/*-------@media--------*/
@media (max-width: 768px) {

}

/*-------@media--------*/
@media (max-width: 576px) {

}