@import 'variables';
@import 'header';
@import 'footer';
@import 'helper-classes';


/*---  General style   ---*/
html {
  background-color: $white;
}

body {
  margin: 15px;
  background-color: $lightgray;
}

h1 {
  font: 900 72px/80px $lato;
}

h2 {
  font: 900 60px/60px $lato;
}

h3 {
  font: 900 24px/34px $lato;
}

h6 {
  font-family: "Century Gothic", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 35px;
}

p {
  font: 400 18px/32px $lato;
}

.bold {
  font-weight: 900;
}

.btn {
  height: 50px;
  background-color: white;
  border-radius: 25px;
  padding: 0 50px;
  box-shadow: 0 10px 40px rgba(54, 54, 54, 0.15);
}

.bottom-line {
  border-bottom: 1px solid #ccc;
}


      /*---  Start style  ---*/

/*---------- Head section -----------*/
.page-name {
  background: url(../images/slider-bg.png) no-repeat;
  margin: 0 -15px;
  height: 150px;
  padding-top: 40px;

  a{
    margin:0 120px;
    width: 320px;
    height: 70px;
    background-color: $gray;
    color: $yellow;
    display: block;
    font-size: 35px;
    line-height: 21px;
    padding: 22px;
  }
}

/*--------  Posts in blog section --------*/
.posts-blog {
  width: 70% ;
  margin: 80px 0;
  height: 900px;
  background-color: #888;
}

/*--------  Widgets section ---------*/
.widgets {
  width: 30%;
  min-width: 369px !important;
  margin: 80px 0;
  right: 0;

  .widget {
    background-color: $gray;
    padding: 35px 15px 35px 35px;
    margin-bottom: 30px;
  }

  /*--  Search widget  --*/
  .search {
    position: relative;
    height: 70px;
    width: 100%;
    padding: 21px 54px;
    background-color: $gray ;

    input {
      width: 100%;
      height: 30px;
      padding: 0 70px 0 20px;
      border-radius: 15px;
      border: none;
      outline: none;
    }

    button {
      position: absolute;
      top: 25px;
      right: 40px;
      z-index: 5;
      color: $text-gray;
      border: none;
      background-color: transparent;
      height: 30px;
      font-size: 19px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  /*--  Categories widget  --*/
  .categories {

    ul {
      list-style: none;
      column-count:2;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 15px;

        a {
          color: $white;
          vertical-align: middle;
          font-size: 16px;

          i {
            width: 31px;
            height: 31px;
            background-color: $yellow;
            margin-right: 15px;
            color: $gray;
            font-size: 30px;
            text-align: center;
          }

          &:hover {
            color: $orange;
            
            i {
              color: $lightgray;
            }
          }
        }
      }
    }
  }

  /*--  Archive widget  --*/
  .archive {

    @extend .categories;

    .numbers-in-archive {
      margin-left: 5px;
    }
  }

  /*--  Popular posts widget  --*/
.popul-posts {

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    .link-to-post:hover .title-post{
      color: $orange;
    }

    img {
      width: 100px;
      height: 70px;
      float: left;
      margin-right: 10px;
    }

    .title-post {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: $white;
    }

    .pub-date-post {

      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      text-align: right;
      margin-right: 20px;
    }
  }
}

  /*--  Tags widget  --*/
  .tag-links a{
    display: inline-block;
    margin-bottom: 3px;
    padding: 3px 10px;
    line-height: 25px;
    color: $gray;
    background-color: $yellow;
    
    &:hover {
      color: $orange;
    }
  }




}


/*-------@media--------*/
@media (max-width: 1366px) {

  .widgets .widget {
    padding: 25px 10px 25px 20px;
    margin-bottom: 30px;
  }

}


