@import 'variables';
@import 'header';
@import 'footer';
@import 'helper-classes';

@import 'blog';
@import 'widgets-section';


/*-----=====  General style   =====-----*/
html {
  background-color: $white;
}

body {
  margin: 15px;
  background-color: $lightgray;
}

/*h1 {
  font: 900 72px/80px $gothic;
}

h2 {
  font: 900 60px/60px $gothic;
}
*/

h3 {
  font: 400 35px/21px $gothic;
}

h4 {
  font: 400 23px/30px $gothic;
  margin-bottom: 25px;
}

h5 {
  font: 400 20px/21px $gothic;
  margin-bottom: 35px;
}

h6 {
  font: 400 18px/32px $gothic;
}

p {
  font: 400 18px/32px $gothic;
}

.bold {
  font-weight: 900;
}

.btn {
  height: 50px;
  background-color: white;
  border-radius: 25px;
  padding: 0 50px;
  box-shadow: 0 10px 40px rgba(54, 54, 54, 0.15);
}

.bottom-line {
  border-bottom: 1px solid #ccc;
}


           /*---  Start style  ---*/

/*-------=====   Head section   =====--------*/
.page-name {
  background: url(../images/slider-bg.png) no-repeat;
  margin: 0 -15px;
  height: 150px;
  padding-top: 40px;

  a{
    display: block;
    width: 320px;
    height: 70px;
    margin:0 120px;
    padding: 22px;
    color: $yellow;
    background-color: $gray;

    &:hover {
      color: $orange;
    }
  }
}

          /*------=====   @media   =====--------*/

/*-------@media--------*/
@media (max-width: 1366px) {

}

/*-------@media--------*/
@media (max-width: 1170px) {

}

/*-------@media--------*/
@media (max-width: 1020px) {

}