@import 'variables';
@import 'header';
@import 'footer';
@import 'helper-classes';


/*---  General style   ---*/
html {
  background-color: $white;
}

body {
  margin: 15px;
  background-color: $lightgray;
}

h1 {
  font: 900 72px/80px $lato;
}

h2 {
  font: 900 60px/60px $lato;
}

h3 {
  font: 900 24px/34px $lato;
}

p {
  font: 400 18px/32px $lato;
}

.bold {
  font-weight: 900;
}

.btn {
  height: 50px;
  background-color: white;
  border-radius: 25px;
  padding: 0 50px;
  box-shadow: 0 10px 40px rgba(54, 54, 54, 0.15);
}

.bottom-line {
  border-bottom: 1px solid #ccc;
}


      /*---  Start style  ---*/

/*---------- Head section -----------*/
.page-name {
  background: url(../images/slider-bg.png) no-repeat;
  margin: 0 -15px;
  height: 150px;
  padding-top: 40px;

  a{
    margin:0 120px;
    width: 320px;
    height: 70px;
    background-color: $gray;
    color: $yellow;
    display: block;
    font-size: 35px;
    line-height: 21px;
    padding: 22px;
  }
}

/*--------  Posts in blog section --------*/
.posts-blog {
  width: 72% ;
  margin: 80px 0;
  height: 900px;
  background-color: #888;
}

/*--------  Widgets section ---------*/
.widgets {
  background-color: lightgreen;
  width: 28%;
  margin: 80px 0;
  right: 0;

  .widget {
    background-color: $gray;
    padding: 35px;
    margin-bottom: 30px;
  }

  .search {
    position: relative;
    height: 70px;
    width: 100%;
    padding: 21px 54px;
    background-color: $gray ;

    input {
      width: 100%;
      height: 30px;
      padding: 0 70px 0 20px;
      border-radius: 15px;
      border: none;
      outline: none;
    }

    button {
      position: absolute;
      z-index: 5;
      top: 21px;
      right: 70px;
      color: $text-gray;
      border: none;
      background-color: transparent;
      height: 30px;
      font-size: 19px;
    }
  }



}
